header {
  display: flex;
  padding: 0 16px;
}
header .logo {
  margin-top: 10px;
}
header img {
  width: 150px;
}
.sp-menu {
  margin-left: auto;
  padding-right: 10px;
  padding-top: 10px;
}
.sp-menu #open {
  font-size: 32px;
  cursor: pointer;
}
.sp-menu #open.hide {
  display: none;
}
/* #video2.hide {
  display: none;
} */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}
.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}
.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: transform .3s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
.overlay.show li {
  opacity: 1;
  transform: none;
}



.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.catch, .info {
  text-align: center;
}
.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}
.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}


/* パソコン */
.pc-menu {
  display: none;
}
.overlay.show img {
  width: 32px;
}


/* .pic {
  margin-right: 60px;
} */
#member {
  margin-top: 60px;
}
#member > h1 {
  
  margin-bottom: 60px;
  text-align: center;
}
.haruki, .shotaro {
  margin-bottom: 60px;
  margin-left: 30px;
  padding-bottom: 64px;
  text-align: center;
}

.haruki img, .shotaro img {
  border-radius: 10px;
}
.haruki {
  border-bottom: 3px solid #eee;
}
.coments {
  text-align: start;
}

.name2 {
  margin: 0;
}

.pic {
  margin-right: 60px;
}

.info, .reco {
  margin-bottom: 60px;
}
.info h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.name {
  margin-right: 30px;
}
.name > .title2 {
  text-decoration: 3px underline;
}
.name2 {
  border-bottom: 3px solid orange;
}
section > video {
  margin-top: 60px;
}
.video1 {
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
}
video {
  width: 370px;
}
.apply {
  margin: 0;
  text-align: center;
  /* color: #fff; */
  padding-top: 30px;
  /* background: orange; */
  background-color: #f59a00;
}

.apply > h2 {
  color:#ffffff;
  /* background: rgb(255, 255, 255); */
  width: 300px;
  margin: 40px auto 48px;
  border-radius: 4px;
  
}
.apply img {
  width: 280px;
}
body {
  margin: 0 auto;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.btn {
  text-decoration: none;
  background: #ffffff;;
  color: orange;
  display: block;
  width: 150px;
  line-height: 55px;
  margin: 40px auto 48px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.9;
}

.active, .reco {
  margin-bottom: 0;
  padding-bottom: 30px;

}

.active img, .reco img {
  width: 375px;
  margin: 0 auto;
  border-radius: 4px;
}
.active > h1, .reco  h1 {
  text-align: center;
  padding: 64px 0;
  
}
/* .active > h1, .reco  h1 {
  animation-name: move;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
} */

.active div, .reco div {
  line-height: 1.8;
  font-size: 16px;
}



.active0 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 320px)) ;
  gap: 30px;
  justify-content: center;
}
.active2 {
  margin: 0 auto;
  width: calc(320);
}

.reco {
  padding-bottom: 0;
}
.reco0 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 375px)) ;
  gap: 30px;
  justify-content: center;
}
.reco > h1 {
  padding-bottom: 30px;
}
.reco li {
  list-style: none;
  text-align: center;
}
.reco ul {
  padding-left: 10px;

}
.return {
  text-align: center;
  margin: 30px;
  text-decoration: none;
}
footer {
  border-top: 3px solid #eee;
  text-align: center;
}
.catch {
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
  font-weight: bold;
  font-size: larger;
}

.sa {
  opacity: 0;
  transform: none;
}
.sa.in {
  animation-name: move;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 1;
}

 .mast_title {
  animation-name: move;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
.mast_title1 {
  animation-name: move;
  animation-duration: 1.2s;
  animation-fill-mode: forwards; 
   
}
@keyframes move {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    transform: translateY(16px);
  }
}
#laptop {
  font-size: 25px;
  vertical-align: middle;
  color: #9becd8;
}
#thumb {
  font-size: 24px;
  vertical-align: middle;
  color: rgb(240, 194, 45);
}
/* medium screen  */
 @media (min-width: 600px) { 
  section#member > div {
    display: flex;
  }
  .pick {
    width: 233px; 
    height: 350px;
  }
  .name {
    width: calc(max - 233px);
  }
  .top, .top img {
    width: 138px;
  }
  nav {
    margin-left: auto;
  }

  .top1 {
    margin-left: auto;
  }
 
  .active0 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 320px)) ;
    gap: 30px;
    justify-content: center;
  }
  .active img {
    width: 500px;
  }
  .active li {
    line-height: 2;
    font-size: 20px;
  }
  .active h1 {
    font-size: 28px;
  }
  .reco0 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 500px)) ;
    gap: 30px;
    justify-content: center;
  }
  .reco img {
    width: 500px;
  }
  .reco li {
    line-height: 2;
    font-size: 20px;
  }
  .video1 {
    text-align: center;
    
  }
  video {
    width: 500px;
    margin-top: 30px;
    
  }
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .sp-menu {
    display: none;
  }
  #insta {
    width: 32px;
  }
  .pc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .pc-menu a {
    display: block;
    width: 80px;
    line-height: 64px;
    text-align: center;
    font-size: 13px;
  }
  .pc-menu a:hover {
    background: #f2f2f2;
  }
  header img {
    width: 200px;
  }

} 


/* large screen */
@media (min-width: 800px) {
  .video1 {
    text-align: center;
  }
  video {
    width: 700px;
  }
}

.footer_p{
  background-color: #f59a00;
  border-top: none;
  padding-top: 3px;
}